<div class="container my-4">
  <div class="text-center">
    <h1><%= @conversation.title %></h1>
    <p><%= @conversation.submitted_text %></p>
    <p><%= @conversation.sentence_prompt %></p>
  </div>
  <h2>Conversation</h2>
  <div>
    <% @responses.each do |response| %>
      <% if response.from_user? %>
        <div class="d-flex justify-content-end mb-2">
          <div class="bg-light-gray px-3 pb-0 pt-3 rounded-pill">
            <%= raw(render_markdown(response.content)) %>
          </div>
        </div>
      <% else %>
        <div class="d-flex justify-content-start mb-5">
          <div class="bg-light-gray px-3 pb-0 pt-3 rounded">
            <%= raw(render_markdown(response.content)) %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <h3>Add Response</h3>
  <%= simple_form_for [@conversation, @response] do |f| %>
    <%= f.input :content %>
    <%= f.hidden_field :from_user, value: true %>
    <%= f.submit "Send", class: "btn btn-secondary shadow-sm" %>
  <% end %>
</div>
